@import './spinner';

body {
  font-family: Roboto;
  color: #000000;
  padding-top: 20px;
}

h1,
p,
ul,
li,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.input-container {
  width: 250px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.country__title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}

.country__input {
  width: 100%;
  height: 40px;
  border: 1px solid #6f6f6f;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 14px;
  padding-left: 10px;
}

.country__input:focus {
  outline-color: #6f6f6f;
}

.country__input::placeholder {
  color: #9f9f9f;
}

.country-card {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 300px;
  border: 2px solid #6f6f6f;
  border-radius: 10px;
}

.country-card__title {
  text-align: center;
  margin-bottom: 10px;
}

.country-card__img {
  display: block;
  margin: 0 auto;
  border: 1px solid #9f9f9f;
  margin-bottom: 20px;
  border-radius: 10px;
}

.country-card__item {
  margin-bottom: 10px;
  font-weight: 500;
}

.country-card__value {
  margin-left: 5px;
  font-weight: 400;
}

.country-card__list,
.country-list {
  padding-left: 20px;
}

.country-list {
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid #6f6f6f;
  border-radius: 10px;
}

.country-list__item::after {
  content: '. . .';
}

.country-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.country-list__link {
  display: block;
  font-weight: 500;
  color: #6f6f6f;
  transition: color 250ms linear;
}

.country-list__link:hover,
.country-list__link:focus {
  color: #2fa03e;
}

.country-list__link:focus {
  outline: none;
}

.country__result {
  margin: 0 auto;
  max-width: 300px;

  opacity: 1;
  transition: opacity 200ms linear;
}

.country__result.is-hidden,
.country-list__item.is-hidden {
  opacity: 0;
}

// .country-card,
// .country-list {
//   display: none;
// }

// .country-card.display,
// .country-list.display {
//   display: block;
// }
